<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {title}) %>
  <body>
    <%- include("partials/header") %>
    <div class="main-container">
      <ul>
        <% messages.forEach((msg) => { %>
        <li>
          <div>
            <strong><%= msg.user_name %>:</strong>
            <%= msg.text %>
            <small>(<%= msg.formattedDate %>)</small>
          </div>
          <div class="message-side">
            <a href="/message/<%= msg.id %>" class="view-link">View</a>

            <form action="/message/<%= msg.id %>/delete" method="POST">
              <button type="submit" class="delete-btn">Delete</button>
            </form>
          </div>
        </li>
        <% }) %>
      </ul>
      <div class="add-btn-wrapper">
        <a href="/new" class="add-btn">&plus; Add a Message</a>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
